/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* My Css */

.container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
                    "sidebar header"
                    "sidebar main-content";
    grid-template-columns: minmax(300px, 1fr) minmax(700px, 4fr);
    grid-template-rows: minmax(100px, 1fr) minmax(500px, 4fr);
    gap: 1em;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: minmax(20px, 1fr) minmax(50px, 2fr);
}

.upper-header-row {
  display: flex;
}

.lower-header-row {
  display: flex;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: minmax(800px, 4fr) minmax(150px, 1fr);
}

.project-container {
  display: grid;
  grid-template-rows: minmax(10px, 1fr) minmax(300px, 5fr);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.announcement-container {
  display: grid;
}

.announcements, 
.trending {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(100px, 2fr);
}

/* Temp */

.container > div {
    border: 1px solid purple;
    background-color: rgb(0, 255, 255, 0.1);
}

.sidebar > div {
    background-color: rgb(165, 42, 42, 0.2);
    border: 1px solid blue;
}

.header > div {
  background-color: rgb(0, 0, 0, 0.2);
  border: 1px solid white;
}

.main-content > div {
  background-color: rgb(127, 255, 0, 0.2);
  border: 1px solid orangered;
}

.project-container > div,
.announcement-container > div {
  background-color: rgb(47, 79, 79, 0.2);
  border: 1px solid yellow;
}