/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* My Css */

:root {
  font-family: "Roboto", sans-serif;
  --background-blue-color: rgba(24, 146, 211, 255);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-areas: 
                    "sidebar header"
                    "sidebar main-content";
    grid-template-columns: clamp(275px, 20%, 350px) minmax(700px, 4fr);
    grid-template-rows: minmax(100px, 1fr) minmax(500px, 4fr);
    gap: 1em;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    gap: 4em;
    flex-direction: column;
    color: white;
    font-weight: bolder;
    background-color: var(--background-blue-color);
    padding: 1em;
}

.logo-text-container,
.menus,
.help-links {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(60px, 4fr);
  align-items: center;
  gap: 1em 0.25em;
}

.logo-text {
  font-size: 1.75rem;
}

 .dashboard-icon,
 .menu-icon,
 .help-link-icon {
  fill: white;
  width: 1.3rem;
  justify-self: center;
}

.dashboard-icon {
  width: 3em;
}

a[href="#"] {
  text-decoration: none;
  color: white;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-rows: minmax(20px, 1fr) minmax(50px, 2fr);
}

.upper-header-row {
  display: flex;
}

.lower-header-row {
  display: flex;
}

.main-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: minmax(800px, 4fr) minmax(150px, 1fr);
}

.project-container {
  display: grid;
  grid-template-rows: minmax(10px, 1fr) minmax(300px, 5fr);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.announcement-container {
  display: grid;
}

.announcements, 
.trending {
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(100px, 2fr);
}

/* Temp */

.header > div {
  background-color: rgb(0, 0, 0, 0.2);
  border: 1px solid white;
}

.main-content > div {
  background-color: rgb(127, 255, 0, 0.2);
  border: 1px solid orangered;
}

.project-container > div,
.announcement-container > div {
  background-color: rgb(47, 79, 79, 0.2);
  border: 1px solid yellow;
}